* {
  margin: 0;
  padding: 0;
}

.imagen1 {
  height: 50px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.imagen1:hover {
  transform: scale(1.05) rotate(-15deg);
}

.itemsbanner {
  background-color: #9b00ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemsspans {
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgb(233, 232, 232);
  font-family: Poppins;
  display: inline;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.itemsspans:hover {
  color: white;
  transform: scale(1.1);
}

.divuno {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.inputuno {
  margin-right: 550px;
  justify-content: space-between;
  display: flex;
}

.card-dad {
  margin: 10px;
  background-color: #212529;
  width: 300px;
  border-radius: 20px;
  border: 2px solid rgb(70, 69, 69);
}

.card-dad img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.content {
  font-family: Poppins;
  margin: 30px 20px;
  color: white;
}

.card-dad .boton {
  width: 200px;
  height: 50px;
  background-color: #1270ff;
  color: white;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  transition: transform 0.5s ease background-color 0.3s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.card-dad .boton:hover {
  background-color: #1166e8;
  transform: scale(1.1);
}

.dad-boton {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.inputsearch {
  background-color: #9b00ff;
  width: 250px;
  height: 25px;
}

.inputsearch::placeholder {
  color: white;
  font-family: Poppins;
}

.imgbuscar {
  width: 25px;
}

.sectiondad {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
  justify-content: space-around;
}

body {
  background-color: #212529;
}
